.navbar.navbar-fixed-top
  .navbar-inner
    .container{style: 'width: 1000px;'}
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
      %img#head_loader{src: '/assets/head_loader.gif'}
      %a.brand{href: '/', style: 'padding: 10px 20px 10px;'} 
        Wiki
        %strong{style: 'color:#2AB2E2;'} Playlists
      .nav-collapse
        %ul.nav
          .navbar-search.pull-left
            %input#search_input.search-query.span2{ placeholder: 'Поиск', type: 'text' }            
          %li
            #player_ui
              %a#prev_btn
              %a#play_btn
              %a#next_btn
              %a#repeat_btn
              #track_info
                #name
                #duration.unselectable{data: {duration_mode: 'pos'}}
        %ul.nav.pull-right
          %li.divider-vertical
          %li
            .btn-group
              %a.btn.btn-primary{href: '/'}
                ="#{ @user_profile != -1 ? @user_profile[:user][:first_name] : 'Вы забанены :-(' }"
              %a.btn.btn-primary.dropdown-toggle{data: {toggle: 'dropdown'}}
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{href: '/settings'} Тут будут настройки
                %li.divider
                %li
                  %a{href: '/logout', data: {type: 'ext'} } Выход
            
      / /.nav-collapse
  #progress_line
    #slider.ui-draggable
    #load
    #play
    

#app.container
  %center
    %img{src: '/assets/ajax-loader.gif'}

:javascript
  var my_profile = #{@user_profile.to_json};
  var user_profile = {};
  var count_friends = #{@count_friends};
  var app_url = "#{@app_url}";
  var debug = #{@debug};

%footer
  %center
    %a{href:'http://vk.com/milushov', data: {type: 'ext'} } сделано
    с 
    %span{style: 'color:#ef0063; cursor: pointer;', rel: 'tooltip', title: 'с любовью же, к хорошей музыке'} ❤