@import 'mixins';

$pw: 180px; // playlist_width
$ph: 180px;


.playlist {
  width: $pw; height: $ph;
	background-color: #fefefe;
  overflow: hidden;
  display: inline-block;
  margin: 5px 6px;
  
  .info {
    //@include box-shadow();
    @include border-radius(5px);
    overflow: hidden;
    background-color: #fdfdfd;

    a {
      color: #fcfcfc;
      text-decoration: none;
      cursor: pointer;
      overflow: hidden;
      display: block;
      
      img {
        width: $pw; height: $ph;
      }
    } // end a

    a:hover {
      color: #6291ED;
      text-decoration: none;
      //font-weight: bold;
    }

    .details {
      position: relative;
      bottom: 40px;
      width: 160px; height: 20px;
      overflow: hidden;
      padding: 10px;
      background: rgba(0, 0, 0, 0.45);
      color: #fff;

      .name {
        float: left;
      }

      .followers_info {
        float: right;
      }

      .flip {

      }
    } // end .details

      
  } // end .info
  

  .tracks {
    @include border-radius(5px);
    overflow: hidden;
    background-color: #fсfсfс;

    .track {

    }
  }
}