@import 'mixins';

.track {
  padding:10px;
  margin-top: 10px;
  overflow: hidden;
  @include rounded(4px);
  color:#999;
  font-size:11px;
  
  background:-o-linear-gradient(top,#f8f8f8,#f5f5f5);
  background:-moz-linear-gradient(top,#f8f8f8,#f5f5f5);
  background:-webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f5f5f5));
  border-bottom:1px solid #d9d9d9;
  border-top:1px solid #e4e4e4;
  border-left:1px solid #dfdfdf;
  border-right:1px solid #dfdfdf;
  
  box-shadow:0 1px 2px #f7f7f7;

  .play_btn_wrap {
    overflow: hidden;
    width: 32px; height: 32px;
    background-color: #ccc;
    cursor: pointer;
    @include rounded(3px);
  }

  .play_btn_wrap:hover {
    opacity: 0.5;
  }

  .play_btn {
    overflow: hidden;
    width: 18px; height: 23px;
    cursor: pointer;
    background-image: url(/assets/player_ui/player_ui.png);
    background-position: 0px 0px;
    margin-top: 4px;
    margin-left: 7px;
    opacity: 0;
  }

  .play_btn:hover {
    opacity: 1;
  }
  
  .info {
    font-weight:bold;
    overflow: hidden;
    width: 300px;

    .track_name {
      overflow: hidden;
      margin: 8px 0 0 5px;
      width: 250px;
      height: 15px;
    }

    .duration{
      overflow:hidden;
      margin: 8px 5px 0 5px;
      width: 30px;
      text-align: right;
    }
  }

  .lovers {
    width: 170px;

    .lover {
      overflow: hidden;
      text-decoration: none;
      display: inline-block;
      margin-right: 1px;
      margin-bottom: 2px;
      @include rounded(3px);

      img {
        width: 30px; height: 30px;
      } 
    }
  }

  .actions {
    
  }
}

.track:hover {
  background:-o-linear-gradient(top,#f8f8f8,#f2f2f2);
  background:-moz-linear-gradient(top,#f8f8f8,#f2f2f2);
  background:-webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2))
}


.track_mini {
  margin: 1px;
  overflow: hidden;

  display:block;
  text-align:center;
  text-decoration:none;
  color:#999;
  font-weight:bold;
  font-size:11px;
  margin:20px;
  background:-o-linear-gradient(top,#f8f8f8,#f5f5f5);
  background:-moz-linear-gradient(top,#f8f8f8,#f5f5f5);
  background:-webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f5f5f5));
  border-bottom:1px solid #d9d9d9;
  border-top:1px solid #e4e4e4;
  border-left:1px solid #dfdfdf;
  border-right:1px solid #dfdfdf;
  border-radius:4px;
  box-shadow:0 1px 2px #f7f7f7;
  padding:12px;


  .play_btn {
      
  }
  .track_info {
  }
}

.track_mini:hover {
  background:-o-linear-gradient(top,#f8f8f8,#f2f2f2);
  background:-moz-linear-gradient(top,#f8f8f8,#f2f2f2);
  background:-webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2))
}


.found_track {
  margin: 10px 0 0 0;
}