!!!
%html
  %head
    %title Playlists
    = stylesheet_link_tag"application"
    = javascript_include_tag "application"
    %script{src: 'http://vkontakte.ru/js/api/openapi.js',  type: 'text/javascript'}
    = csrf_meta_tags
    %link{ rel: "shortcut icon", href: "/assets/icon.jpg", type: "image/x-icon" }
  
  %body
    = yield
    :plain
      <script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter13060828 = new Ya.Metrika({id:13060828, trackLinks:true, accurateTrackBounce:true}); } catch(e) {} }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/13060828" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
